.popup {
  position: relative;
}

.popupClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background-color: #add8e6;
}

.popupClose::after {
  content: 'X';
  font-size: 1rem;
  font-weight: 700;
}

.popupClose:focus,
.popupClose:hover {
  outline: 1px solid #000;
  filter: brightness(85%);
}
